.header {
  align-items: center;
  background-color: #2ba6a9;
  display: flex;
  height: 120px;
  justify-content: center;
}

.header-title {
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 3rem;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}