.header {
  align-items: center;
  background-color: #3DB6B5;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter-label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.filter-select {
  width: 200px;
  font-family: 'Open Sans';
  background-color: #ffffff;
  border: none;
  color: #666666;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.filter-select:focus {
  outline: none;
}

.header-title {
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}